<app-navbar></app-navbar>
<div class="container border">
    <div class="row">
        <h1>Chat</h1>
    </div>

    <div class="row justify-content-center">
        <app-progress-bar *ngIf="progress_bar"></app-progress-bar>
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-body bg-dark text-white">
                  {{otherUser?.fullname}} 
                    <span class="badge float-end" [ngClass]="isOnline ? 'bg-success' : 'bg-secondary'">
                        {{isOnline ? 'En linea' : 'Desconectado'}}
                    </span>
                </div>
                <div #scrollMe class="card-body container-messages">
                  <div class="row" *ngFor="let msg of messageList" 
                        [ngClass]="msg.user == idUser ? 'justify-content-end ' : 'justify-content-start'">
                    <div class="card col-auto m-2" style="max-width: 75%;"
                        [ngClass]="msg.user == idUser ? 'bg-primary text-white shadow-sm' : 'bg-secondary text-white shadow-sm'">
                        <p class="text-message">{{msg.content}} </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                    <form [formGroup]="newMessageForm" (ngSubmit)="sendMessage()">
                        <div class="input-group">
                            <textarea class="form-control" (keydown.enter)="sendMessage()" formControlName="content" aria-label="With textarea"></textarea>
                            <span class="input-group-text"><button type="submit" class="btn btn-primary">Enviar</button></span>
                        </div>
                    </form>
                    
                </div>
              </div>
        </div>
    </div>
</div>