<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="row">
            <h1>Explore People</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-5 m-1" *ngFor="let user of userList; let i = index">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{user.fullname}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
                      <p class="card-text">{{user.email}}</p>
                      <button *ngIf="!user.status"  class="btn btn-sm btn-primary card-link" (click)="createRequest(user, i)">Add friend</button>
                      <button *ngIf="user.status === 'PENDING'"  class="btn btn-sm btn-primary card-link" disabled>Solicitado</button>
                      <!-- <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> -->
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
</div>
<!-- <div class="container border m-5">
    <h1>Contacts for Chat</h1>
    <app-progress-bar *ngIf="progress_bar"></app-progress-bar>
    <div class="row justify-content-around">
        <div class="list-group col-md-10">
            <a (click)="goToChat(user)" class="list-group-item list-group-item-action" *ngFor="let user of userList">{{user.name}} {{user.lastname}} </a>
        </div>
    </div>
</div> -->