<app-navbar></app-navbar>

<div class="container">
    <div class="row justify-content-center">
        <h1>Notificaciones</h1>
        <hr>
        <app-progress-bar *ngIf="progress_bar"></app-progress-bar>
        <div class="col-md-10">
            <div *ngIf="notificationList.length > 0; else no_data" class="list-group">
                <a *ngFor="let noti of notificationList" [routerLink]="noti.redirectURL" class="list-group-item list-group-item-action list-group-item-warning">
                    {{noti.content}}
                </a>
            </div>
            <ng-template #no_data>
                <app-no-data text="No tiene ninguna notificación"></app-no-data>
           </ng-template>
        </div>
    </div>    
</div>